* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: white; 
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
    background-color: #333; 
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.section {
    margin-top: 100px;
    background-color: #444;
    border: 1px solid black;
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 250px;
    color: white; 
    position: relative;
    text-align: justify;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsl(0, 90%, 84%);
    color: black;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    font-size: 1.25em;
}

.section p {
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: #555;
    border-radius: 5px;
}

@media (min-width: 992px) {
    .section {
        width: 30%;
    }
    main{
        margin-top: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section {
        width: 48%;
    }

    #sushi {
        width: 100%; 
        order: 2; 
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}
}